<!DOCTYPE html>
<html>

<head>
   
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/road_accidents.png" style="width: 100%">
                <div class="text-para">
                        In the year 2015, 400 people died every day in road accidents. 77.1% of the road accidents occurred because of driver's fault.
                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>