$big-title-font : 'Josefin Sans';
$small-title-font : 'Literata';
$content-font : 'Literata';
$jumbo-size: 10rem;
$break-small: 320px;
$break-large: 1200px;

body{
    text-align: center;
    font-family: $content-font;
    margin: 0;
    font-size: 1.5em;
}
p{
    margin:0;
    padding: 0;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.jumbo-title{
    font-family: $big-title-font;
    font-size: 1rem;
    @media screen and (min-width: $break-small) {
        letter-spacing: 10px;
      }
    @media screen and (min-width: $break-large) {
        letter-spacing: 20px;
    }
}

.big-title{
    font-family: $big-title-font;
}


.small-title{
    font-family: $small-title-font;
    text-align: justify;
    font-size: 0.7em;
}


.text-para{
  text-align: justify;
  margin: 15px 0px 15px 0px;
  font-size: 16px;
  padding: 0px 10px 0px 10px; 
}

.text-title{
  margin-top: 60px;
  text-align: left;
  font-size: 40px;
  font-family: 'Roboto Condensed';
  // text-transform: lowercase;
}

.text-subtitle{
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  // font-weight: 800;
  font-family: 'Roboto Condensed';
  // letter-spacing: 3px;
  // text-transform: lowercase;
}



.row{
    margin: 0 !important;
}

#navbar{
    width: 90%;
    padding-left:5%;
    padding-right:5%;
    background: #fefefe;
    height: 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: 'Josefin Sans';
    font-size: 12px;
    text-transform: uppercase;
}

.logo-img{
  @media screen and (min-width: $break-small) {
    height:25px;
  }
    @media screen and (min-width: $break-large) {
      height:45px;
    }
    
}
.nav-items{
  @media screen and (min-width: $break-small) {
    padding: 10px 10px;
      }
    @media screen and (min-width: $break-large) {
      padding: 10px 20px;
    }
    
    border-radius: 10px;
    color: #333 !important;
    text-decoration: none !important;
    cursor: pointer;
    &:hover{
        background: #333;
        color: #fff !important;
    }
}


        /* Main menu positionning */
        .main-nav {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            text-align: center;
            // background: #FFF;
            opacity: 0;
            z-index: -1;
            visibility: hidden;
            transition: all .375s;
          }
          
          .main-nav.is-open {
            opacity: 1;
            z-index: 100;
            visibility: visible;
          }
          
          /* Yellow band effect */
          .main-nav::before {
           content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: -15px;
            background: #fff;
            transform-origin: 0 0;
            transform: skew(-14deg) translateX(-120%);
            transition: all .275s .1s;
          }
          
          .main-nav.is-open::before {
            transform: skew(-14deg) translateX(0);
          }
          
          /* Skewing effect on menu links */
          .main-nav ul {
            display: inline-flex;
            flex-direction: column;
            height: 93%; /* Should be 100%, but we have a notice message :D */
            align-items: flex-end;
            justify-content: center;
            transform: translateX(-18%) skew(-16deg);
          }
          
          .main-nav li {
            display: block;
            margin: .5rem 0;
            text-align: right;
            transform: skew(16deg);
          }
          
          /* Apparition effect on links */
          .main-nav a {
            opacity: 0;
            transform: translateY(-10px);
          }
          
          .main-nav.is-open a {
            opacity: 1;
            transform: translateY(0);
          }
          .main-nav li:nth-child(1) a {
          transition: all 275ms 175ms
          }
          .main-nav li:nth-child(2) a {
          transition: all 275ms 225ms
          }
          .main-nav li:nth-child(3) a {
          transition: all 275ms 275ms
          }
          .main-nav li:nth-child(4) a {
          transition: all 275ms 325ms
          }
          .main-nav li:nth-child(5) a {
          transition: all 275ms 375ms
          }
          
          
          /* Decoration */
          .main-nav ul,
          .main-nav li {
          list-style: none;
          padding: 0;
          }
          .main-nav a {
          display: block;
          padding: 12px 0;
          color: #000;
          font-size: 1.4em;
          text-decoration: none;
          font-weight: bold;
          }
          
          /* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
          .open-main-nav {
          position: absolute;
          top: 15px;
          padding-top: 20px;
          right: 15px;
          z-index: 1000;
          background: none;
          border: 0;
          cursor: pointer;
          }
          .open-main-nav:focus {
          outline: none;
          }
          .burger {
          position: relative;
          display: block;
          width: 28px;
          height: 4px;
          margin: 0 auto;
          background: #000;
          transform: skew(5deg);
          transition: all .275s;
          }
          
          .burger:after,
          .burger:before {
          content: '';
          display: block;
          height: 100%;
          background: #000;
          transition: all .275s;
          }
          
          .burger:after {
          transform: translateY(-12px) translateX(-2px) skew(-20deg);
          }
          
          .burger:before {
          transform: translateY(-16px) skew(-10deg);
          }
          
          /* Toggle State part */
          .is-open .burger {
          transform: skew(5deg) translateY(-8px) rotate(-45deg);
          }
          
          .is-open .burger:before {
          transform: translateY(0px) skew(-10deg) rotate(75deg);
          }
          
          .is-open .burger:after {
          transform: translateY(-12px) translateX(10px) skew(-20deg);
            opacity: 0;
          }
          
          /* MENU Text part */
          
          .burger-text {
          display: block;
          font-size: .675rem;
          letter-spacing: .05em;
          margin-top: .5em;
          text-transform: uppercase;
          font-weight: 500;
          text-align: center;
          color: #000;
          }
          
          
          
          .notice {
          position: absolute;
          bottom: -15px;
          left: 0; right: 0;
          padding: 20px;
          background: rgb(124, 116, 116);
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          z-index: 100;
          text-align: center;
          }
          .notice strong {
          font-weight: 700;
          }
          .notice a {
          padding: 2px 3px;
          background: #333;
          text-decoration: none;
          }
          
          #nav-big-screen{
          @media screen and (min-width: $break-small) and (max-width: $break-large){
            display: none !important;
              }
            }
            #nav-small-screen{
            @media screen and (min-width: $break-large) {
          display: none !important;
            }
          }