$background-shade: #c0392b;
$dark-shade: #333;
$light-shade: #eee;


#section-0{
    background-color:#122431;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light-shade;
    height: 100vh;
}

#title-canvas{
    opacity: 0.15;
    position: absolute;
}