$background-shade: #c0392b;
$dark-shade: #333;
$light-shade: #eee;


#section-2{
    background-color:$light-shade;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leaflet-map{
   height: 400px;
   width: 50%;
}