$background-shade: #c0392b;
$dark-shade: #333;
$light-shade: #eee;


#section-0{
    background-color:$background-shade;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light-shade;
    height: 700px;
}