
$chip-color: #333;

#descrip {
      position:relative;
      margin:50px auto ;
      padding-top:40px;
    //   background-color:white;
    //   border:1px solid black;
  }
//   #descrip:before {
//       content:'';
//       position:absolute;
//       top:-1px; 
//       left:-1.5px;
//       border:1px solid #fff;
//       height:100%;
//       width:100%;
//       border-radius: 20%;
//   }

.filter-buttons{
    border: none;
    font-size: 1rem;
    position: relative;
      padding: 0 .5em;
      margin-bottom: 2em;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 40%;
        background-color: #eee;
        z-index: -10;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        transition: all .1s linear;
      }
}

.button-container{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    padding: 5px;
}

.card{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    position: relative;
}

.card-title, .card-description, .card-author, .card-date{
    margin: 0;
}

.card-title{
    font-weight: 900;
    font-family: "Josefin Sans";
    white-space: nowrap;
    overflow: hidden;   
    text-overflow: ellipsis;
    padding: 5px;
}


.card-description{
    font-size:0.6em;
    color: #444;
    text-align: justify;
    height: 4.5em;
    // line-height: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}

.card-body{
    padding-left: 10px;
    padding-right: 10px;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-author, .card-date{
    font-size: 0.5em;
}

.tag-bar-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 5px;
}

.tag-bar{
    height: 3px;
    width: 100%;
}


.active-button.politics-filter{
    &:after{
        background-color: #c0392b;
    }
}


.active-button.news-filter{
    &:after{
        background-color: #27ae60;
    }
}


.active-button.business-filter{
    &:after{
        background-color: #f1c40f;
    }
}


.active-button.sports-filter{
    &:after{
        background-color: #8e44ad;
    }
}


.active-button.entertainment-filter{
    &:after{
        background-color: #2980b9;
    }
}


.active-button.all-filter{
    &:after{
        background-color: #34495e;
    }
}

.tag-bar-politics{
    background-color: #c0392b;
}


.tag-bar-entertainment{
    background-color: #2980b9;
}

.tag-bar-news{
    background-color: #27ae60;
}

.tag-bar-business{
    background-color: #f1c40f;
}


.tag-bar-sports{
    background-color: #8e44ad;
}

#cards-container{
    // min-height: 600px;
    // margin-top: 20px;
}

.tinyletter-button{
    width: 95%;
    margin: 10px;
    padding: 10px;
    background: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}


.tinyletter-input{
    width: 95%;
    border-radius:3px;
    padding: 10px;
    border: 1px solid #aaa;
}

.tinyletter-link{
    text-decoration: none;
    color: #333;
    font-size: 0.5em;
}
.tinyletter-form{
    margin-top: 30px;   
}


#section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#airtable{
    width: 100%;
    padding: 50px;
    background: #eee;
}

.card-read-time{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 5px;
    font-size: 0.5em;
    // padding: 3px 7px;
    background: #fff;
    border-radius: 20px;
    color: #333;
    right: 20px;
    border: 1px solid $chip-color;
}

.card-story-type{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5px;
    font-size: 0.5em;
    // padding: 3px 7px;
    background: #fff;
    border-radius: 20px;
    color: #333;
    left: 20px;
    border: 1px solid $chip-color;
}

.top-icons{
    background: $chip-color;
    padding: 3px 5px;
    border-radius: 15px 0px 0px 15px;
    color: #fff;
}

.card-read-time-text, .card-story-type-text{
    padding: 3px 5px;
}