$background-shade: #c0392b;
$dark-shade: #333;
$light-shade: #eee;
$darkest: #122431;

#section-1{
    background-color:$darkest;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deck-map{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}