<!DOCTYPE html>
<html>

<head>
    
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/ls2014.jpg" style="width: 100%">
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>