<!DOCTYPE html>
<html>

<head>
    
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/temperature.png" style="width: 100%">
                <div class="text-para">
                        India became hotter by 3.5% (~1°C) over last 100 years, most of it witnessed in last 20 years.
                        National Average Temperature of India rose by 3.5% (~1°C) over the last 100 years (1915-2014).
                        Looking at 5-year moving averages year over year, we see that there was a significant bump in temperature post-1976 and another major rise in temperature after year 1994.
                        <br>
                        Clearly India has gotten a lot hotter in the last 20 years. What could have happened in the last 20 years, which caused this?<br>Some clues:
                        <ul>
                            <li>Rise in Industrialization</li>
                            <li>Rise in cars emitting CO2</li>
                            <li>Rise in Deforestation</li>
                        </ul>
                        
                    
                        
                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>