<!DOCTYPE html>
<html>

<head>
    <title>template</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta charset="UTF-8">
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
        <div id="navbar">
            <div style="justify-content: center; display: flex; flex-direction: column"><a href="https://numbersofindia.github.io/"><img
                        src="../../res/imgs/noi_nav.png" style="height:45px"></div></a>
            <div style="justify-content: center; display: flex; flex-direction: row; align-items:  center">
                <a class="nav-items" href="https://numbersofindia.github.io/index.html#section-3">Stories</a>
                <a class="nav-items" href="#footer">Contact</a>
            </div>
        </div>
        <!-- <div id="section-0">
            
        </div>
        <div id="section-1">
            <div id="deck-map">
                <canvas id="deck-canvas"></canvas>
            </div>
            
        </div> -->
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/startups.jpg" style="width: 100%">
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>