<!DOCTYPE html>
<html>

<head>
    
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/khans.jpg" style="width: 100%">
                <div class="text-para">
                        Jabra #FAN of #Bollywood #Khans
<br>
                        Salman Khan has portrayed the character name "Prem" many more times than Shah Rukh Khan has portrayed "Raj" or "Rahul".
                        Aamir Khan brings variety in character names portrayed, just like in his unique characters.
                        
                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>