<!DOCTYPE html>
<html>

<head>
    
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/population.jpg" style="width: 100%">
                <div class="text-para">
                        If you thought your city is over-crowded, think again.
                        Mumbai is, by far, the most crowded city in India.
                        
                        If Mumbai and Delhi were of the same size, you would find 3 people in Mumbai for every person in Delhi.
                        
                        If Mumbai and Tokyo Metropolis were of the same size, you would find 6 people in Mumbai for every person in Tokyo Metropolis.
                        
                        If Mumbai and Moscow were of the same size, you would find 11 people in Mumbai for every person in Moscow.
                        
                        If Mumbai and Sydney were of the same size, you would find 18 people in Mumbai for every person in Sydney.
                        
                        <br><br>Food for thought: Are we all moving into the so called "big" cities and making them "smaller"? Should we as a country be growing the less-ventured towns and cities?
                        
                        Leave your comments below.
                        

                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>