#navbar{
    width: 90%;
    padding-left:5%;
    padding-right:5%;
    background: #fefefe;
    height: 50px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family: 'Josefin Sans';
    font-size: 0.6em;
    text-transform: uppercase;
}


.nav-items{
    padding: 10px 20px;
    border-radius: 10px;
    color: #333 !important;
    text-decoration: none !important;
    cursor: pointer;
    &:hover{
        background: #333;
        color: #fff !important;
    }
}

#section-0{
    height: 100vh;
}