<!DOCTYPE html>
<html>

<head>
    
    {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <!-- <div id="section-0">
            
        </div>
        <div id="section-1">
            <div id="deck-map">
                <canvas id="deck-canvas"></canvas>
            </div>
            
        </div> -->
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/bschools.png" style="width: 100%">
                <div class="text-para">

June is here, it’s about time for onset of new academic session at many Indian Business schools. It will be worth examining the job offer statistics for the outgoing class of 2016.
For many B-schools, the placements statistics for class 2016 is still not available therefore we thought let’s compare the premier Indian B-school based on the job offer reports for the class 2015.



                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>