<!DOCTYPE html>
<html>

<head>
   
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/gender.png" style="width: 100%">
                <div class="text-para">
                        According to a study by International Center for Research on Women, higher levels of education helps women in bringing meaningful impact not only to their life but to communities. In the spirit of International Women’s Day, for a change instead of focusing on the problems (like low participation rate of women in urban workforce, gender pay gap etc.), let’s look at the educational background of women corporate leaders and entrepreneurs.

                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>