<!DOCTYPE html>
<html>

<head>
    
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/tvf.jpg" style="width: 100%">
                <div class="text-para">
                        Permanent Roommates is coming back on the internet tomorrow.
                        Being huge fans of TVF, like the rest of the nation, we decided to take a look back at Season 1.
                        
                        PR Season 1 captivated us with the freshness and humor in a relationship, with which we could all relate to. Even data proves that it struck the right emotional chords with the Indian audience.
                        <br><br>
                        We can't wait for Permanent Roommates Season 2!
                        
                        
                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>