$break-small: 320px;
$break-large: 1200px;

body{
    font-family: 'Literata';
    font-size: 16px;
    color: #222;
}

svg{
    margin: 20px;
}

#section-0{
    // height: 100vh;
    background-image: url("./res/popu.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    filter: saturate(200%) grayscale(100%) contrast(110%);
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.jumbo{
    color: #eee;
    @media screen and (min-width: $break-small) {

    font-size: 55px;
      }
    @media screen and (min-width: $break-large) {

    font-size: 120px;
    }
    font-family: 'Josefin Sans';
}
.descrip{
    color: #eee;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 10px;
    font-weight: 900;
}

.credits{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 10px;
    color: #fff;
}

.text-para{
    text-align: justify;
    margin: 15px 0px 15px 0px;
    
    padding: 0px 10px 0px 10px; 
}

.text-title{
    margin-top: 60px;
    text-align: left;
    font-size: 40px;
    font-family: 'Roboto Condensed';
    // text-transform: lowercase;
}

.text-subtitle{
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    // font-weight: 800;
    font-family: 'Roboto Condensed';
    // letter-spacing: 3px;
    // text-transform: lowercase;
}
.row{
    // padding-top: 20px !important;
}

.plot-title{
  @media screen and (min-width: $break-small) {
    
  font-size: 20px;
  }
    @media screen and (min-width: $break-large) {
     
  font-size: 30px;
    }
}


#states-img{
    width: 100%;
    background: #fff;
}

.tldr, .tldr>a{
    text-align: left;
    color: #000 !important;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }
  
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0); }
  
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite; }
  
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite; }
  
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite; }
  
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite; }
  
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0); }
    100% {
      transform: scale(1); } }
  
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1); }
    100% {
      transform: scale(0); } }
  
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0); }
    100% {
      transform: translate(19px, 0); } }


      .loader {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.5em;
        font-family: "Josefin Sans"; }

