<!DOCTYPE html>
<html>

<head>
   
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/tourists.png" style="width: 100%">
                <div class="text-para">
                        Monuments/sites provide an insight into a country’s history. The Archaeological Survey of India (ASI) is responsible for protection, restoration and maintenance of India’s monuments and sites. The ASI has classified 116 historical monuments/sites to be centrally protected monuments and sites. The Taj Mahal is being of them. We all know, the Taj Mahal is one of the most famous Indian monument among both domestic and foreign tourist. (54,23,990 domestic and 6,48,511 foreign tourists visited it in 2014.)
<br><br>
                        It will be fascinating to compare the preference of domestic and foreign tourists for other Indian monuments/sites. Instead of comparing the 115 monuments/sites (excluding Taj Mahal), we selected 29 sites, which had difference between the percentage share for domestic and foreign tourist either greater than 0.2 or lesser than -0.2.
                        <br><br>
                        The Sun Temple at Konark is more famous among domestic tourists compared to foreign tourists. The group of monuments at Mamallapuram has the least difference between the percentage shares while Agra Fort is the more famous among foreign tourists. One other interesting observation, most of the sites which are popular among foreign tourist are in Delhi and Agra region. On a lighter note, we hope some of these monuments will make it to your list of historical places to visit!
                        
                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>