<!DOCTYPE html>
<html>

<head>
    
        {% include "og_static.html" %}
    {% include "ga.html" %}

    {% include "imports_static.html" %}


</head>

<body>
    {% include "fb.html" %}
    <div id="main">
            {% include "navbar.html" %}
        <div id="section-2" class="row center-lg center-md">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <img src="res/pollution.png" style="width: 100%">
                <div class="text-para">
                        In this visualization we will probe about the number of fatalities (injuries and deaths) caused due to various improper driving activities and will also explore type of vehicles involved in road fatalities.
                        Every year we look forward to celebrate #Diwali with colorful and glittering fireworks. Have we ever given a thought to measure the impact of fireworks on our environment?
                        <br><br>We decided to analyze the changes in the air quality and noise levels during last year’s Diwali. In this visualization we cover following topics.
                        <ul>
                                
                                <li>Particulate Matter-10 (PM10) levels on Diwali day vs normal days [2015] </li>
                                    <li>PM10 levels on Diwali day [2014 vs 2015]</li>
                                        <li>Noise Levels on Diwali day [2015]</li>
                                
                        </ul>
                        As we all prepare to celebrate Diwali this weekend, let’s be thoughtful and celebrate the festival of lights, in an environment friendly way.
                        <br><br>
                        Happy Diwali to everyone :)
                        
                </div>
            </div>
        </div>

        {% include "sharing.html" %}
        {% include "footer.html" %}

    </div>
</body>

</html>